body{
	background:url('kids4-2.jpg') no-repeat fixed;
}

#navbar ul li a.active{
	background-color:#0047b3;
}

#navbar	ul{
	left:0;
	margin:0;
	padding:0;
	background-color:#0099ff;
	list-style-type:none;
}



#navbar ul li{
	display:inline-block;	
	border-right:1px solid white;
	font-size:19;
}

#navbar ul li a{
	display:block;
	color:white;
	padding: 8px 16px;
	text-decoration:none;
}

#navbar ul li:hover{	
	background-color:0066ff;
}

#navbar ul ul{
	display:none;
	background-color:rgba(249,249,249,0.9);
}

#navbar ul li:hover ul{
	display:block;
	margin-left:340px;
	min-width:200px;
	position:absolute;
}

#navbar ul ul li{
	display:block;
	border:none;
}

#navbar ul ul li a{
	color:black;
}

#navbar ul ul li a:hover{
	background-color:rgba(179,209,225,0.9);
}

div.notes{
	width:375;
	height:350;
	background-color: rgba(204,235,225,0.7);
	border:1px solid #66c2ff;
	border-radius:5px;
	box-shadow:-1px 3px 2px 0px #333333,1px -1px 2px 0px #333333;
}

div.main{
	border-radius:5px;
	box-shadow:-2px 3px 2px 0 #595959,2px -1px 2px 0 #595959; 
	width:950; 
	height:600; 
	background:rgba(242,242,242,0.85); 
}
p{
	font-size:19;
	margin:25px;
	color:#604020;
	text-align:left;
}
h2{
	margin:25px;
	color: #404040;
	text-align: left;
}